#Compiled class file
*.class

#Log file
*.log

#Package Files
*.jar
*.zip
*.7z
*.tar.gz
*.rar

#directories that (probably?) should be ignored
bin/
debug_mode/
.settings/

#content that is not meant for release can be moved into a folder EditorOnly, makes ignoring and locally using it easier (see unity)
#this can also be used for texture and model packages, where not everything will be used (yet) but can be stored in the engine
EditorOnly/
EditorOnly*

#editors content that won't be used by the engine but is good to store at the correct folders (photoshop / gimp files, ...)
*.xcf

#single files that (probably?) should be ignored
.DS_Store
.classpath
.project
*Thumbs.db
*/Thumbs.db

#old code that may be reused but is not necessary
srcOld/*
.idea/workspace.xml
.idea/modules.xml
New World Engine.iml
.idea/vcs.xml
.idea/misc.xml
